body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #F8C8DC;
}

#noButton {
    position: absolute;
    margin-left: 180px;
    transition: 0.5s;
    border-radius: 12px;
}

#yesButton {
    position: absolute;
    margin-right: 180px;
    border-radius: 12px;
}

.header_text {
    font-family: 'Nunito';
    font-size: 40px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.gif_container {
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}

.btn {
    background-color: #FF86C1;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16;
    position: absolute;
}